@model WalletPlus.web.Models.Customer

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <img src="~/asset/ut.jpg" class="img-fluid" alt="...>
            <h1 class="text-black-50 pl-3">Add Customer</h1> 
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="MiddleName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Gender"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="MaritalStatus"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="BirthDate"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Country"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="State"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="City"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="MaritalStatus" class="form-control" />
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    
                    
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

